body {
  background-color: #EBECF0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
}
h1 {
  color: #999999;
  letter-spacing: 3px;
  font-size: 50px;
  font-family: 'Nanum Myeongjo', serif;
}
h1::first-letter {
  color: #ff8080;
}
input {
  margin-top: 10px;
  font-size: 16px;
  background-color:#EBECF0;
  padding: 12px;
  width: 450px;
  outline: none;
  border-radius: 20px;
  color: #61677C;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  border: none;
  text-shadow: 1px 1px 0 white;
  appearance: none;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
input:focus {
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
  background-color: #e8f0fe;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  width: 340px;
  margin-left: -35px;
  padding: 13px;
  border-radius: 5px;
  text-align: center;
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  color: #333333;
  text-shadow: 1px 1px 1px white;
  margin-bottom: 20px;
  list-style-type: decimal;
  font-family: 'Nanum Gothic', sans-serif;
}
li:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
}
.crossed {
  background-color: #e8f0fe;
  text-decoration: line-through 1px #e52e2d;
  transition: all 2s ease;
  width: 64%;
}

.btn {
  text-shadow: 1px 1px 0 white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 15px;
  color: #e52e2d;
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}
.delete {
  flex:1;
  font-size: 14px;
}
.add {
  width: 12%;
  margin-left: 5px;
  font-size: 20px;
}
.btn:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
}
.btn:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}


@media all and (max-width: 500px) {
  h1 {
      font-size: 40px;
  }
  img {
      width: 80px;
  }
  input {
    width: 350px;
  }
  .crossed {
    width: 80%;
  }
}

@media all and (max-width: 425px) {
  input {
    width: 330px;
  }
  li {
    width: 320px ;
  }
}

@media all and (max-width: 394px) {
  input {
    width: 310px;
  }
  li {
    width: 300px;
  }
}

@media all and (max-width: 361px) {
  input {
    width: 295px;
  }
  li {
    width: 270px;
  }
}

@media all and (max-width: 321px) {
  h1 {
      font-size: 35px;
  }
  img {
      width: 70px;
  }
  input {
    width: 260px;
  }
  li {
    width: 250px;
  }
}

@media all and (max-width: 281px) {
  input {
    width: 230px;
  }
  li {
    width: 200px;
  }
}